<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('./partials/head') %>

<body>
    <!-- include header -->
    <%- include('./partials/header') %>
    <section>
       
    </section>
    <main>
        <h1>La siguiente es una pagina la cual cuenta con un sistema de ABM con dos pefiles (cliente y administrador)</h1>
       
    </main>
     <!-- include footer -->
     <%- include('./partials/footer') %>

</body>

</html>